# {{ ansible_managed }}
#
deb http://deb.debian.org/debian/ {{ debian_release | default(ansible_distribution_release) }} main contrib
{% if ansible_distribution_major_version|int > 10 %}
deb http://security.debian.org/debian-security {{ debian_release | default(ansible_distribution_release) }}-security main contrib
{% else %}
deb http://security.debian.org {{ debian_release | default(ansible_distribution_release) }}/updates main contrib
{% endif %}
deb http://deb.debian.org/debian/ {{ debian_release | default(ansible_distribution_release) }}-updates main contrib
